<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col">
        <div class="card">
          <div class="card border-light text-center">
            <img src="../../assets/images/unnamed.png" class="card-img" alt="chu-logo">
          <div class="card-body">
            <h5 class="text-left">Pour mieux accueillir ses patients le CHU de fes a mis en place un systeme informatise de gestion de rendez vous.</h5>
            <h5 class="text-left">Ce service permet de: </h5>
              <p class="card-text" class="text-left">
                <i class="fa fa-check-circle" style="color:  #0275d8	;"></i>
                Reduire le nombre de deplacement.
              </p>
                <p class="card-text" class="text-left">
                  <i class="fa fa-check-circle" style="color:  #0275d8	;"></i>
                  Reduire les frais lies aux deplacements.
                </p>
                <p class="card-text" class="text-left">
                  <i class="fa fa-check-circle" style="color: #0275d8	;"></i>
                  Garantir une optimisation de votre temps et energie.
                </p>
              <h5 class="text-left"> Pour pouvoir prendre un rendez vous, veuillez creez votre compte patient.
                Si vous avez deja un compte patient veuillez vous connecter.
              </h5>

        </div>
        <div class="card-footer bg-transparent border-primary">
          <div class="buttons-container">
            <button class="btn btn-info" id="primary" routerLink="signup">
              <i class="fa fa-user-plus"></i>
              S'iscrire
            </button>
            <button class="btn btn-info" id="primary" routerLink="signin">
              <i class="fa fa-sign-in"></i>
              S'identifier
            </button>
          </div>
        </div>
        </div>

      </div>
    </div>
  </div>
</div>
