#o{
  color: red;
}

.card {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}
button{
  margin-left: 5px;
}

.card-header{
  background-image: url('../../../assets/images/istockphoto-949812160-170667a.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
